* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login {
  width: 100vw;
  height: 100vh;
  background-color: #828282;
  position: fixed;
  top: 0;
  z-index: 9;
  overflow: hidden;
  display: none;
}

.login .box {
  width: 655px;
  height: 437px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  margin-top: 50px;
}

.login .box .titles {
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.login .box .titles .line {
  width: 3px;
  height: 41px;
  background-color: rgba(0, 0, 0, 0.493);
}

.login .box .titles div {
  width: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000;
}

.login .box .titles .active {
  color: #008080;
}

.login .box .bloks {
  height: 100%;
  border-radius: 10px;
}

.login .box .bloks .blok1 {
  display: none;
  background-color: #F2F2F2;
  padding-top: 50px;
  padding-left: 40px;
  height: 100%;
  border-radius: 10px;
}

.login .box .bloks .blok1 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.login .box .bloks .blok1 form .chek {
  margin-bottom: 20px;
}

.login .box .bloks .blok1 form .chek input {
  width: 14px;
  height: 14px;
  border: none;
  outline: none;
}

.login .box .bloks .blok1 label {
  color: #797979;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.login .box .bloks .blok1 input {
  border: none;
  outline: none;
  height: 35px;
  width: 330px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.login .box .bloks .blok1 .submit {
  background-color: #008080;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.login .box .bloks .blok2 {
  background-color: #F2F2F2;
  padding-top: 50px;
  padding-left: 40px;
  height: 100%;
  display: none;
  border-radius: 10px;
}

.login .box .bloks .blok2 form .chek {
  margin-bottom: 20px;
}

.login .box .bloks .blok2 form .chek input {
  width: 14px;
  height: 14px;
  border: none;
  outline: none;
}

.login .box .bloks .blok2 form .chek label {
  color: #797979;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}

.login .box .bloks .blok2 form .quti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.login .box .bloks .blok2 form .quti div {
  width: 50%;
}

.login .box .bloks .blok2 form .quti div label {
  color: #797979;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}

.login .box .bloks .blok2 form .quti div input {
  border: none;
  outline: none;
  height: 35px;
  width: 269px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.login .box .bloks .blok2 form .submit {
  background-color: #008080;
  font-size: 18px;
  font-weight: bold;
  width: 330px;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  left: 120px;
  bottom: -40px;
  color: #fff;
}

.login .box .bloks .active-blok {
  display: block;
}

.active-login-page {
  display: block;
}
/*# sourceMappingURL=login.css.map */