*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    background: #F2F2F2;
}

header{
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    margin-left: 29px;
    margin-top: 13px;
}
.ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #01FF39  ;
    margin-top: 1%;
}

.ball svg{
    width: 40px;
    /* font-size: 20px; */
    height: 33px;
    margin-top: 10%;
}


.text h1{
    text-transform: uppercase;
    margin-left: 8%;
}
.text span{
    color: #008080;
}

.text h1 a{
    text-decoration: none;
    color: black;
}


.links{
    display: flex;
    padding: 10px;
}


ul li{
    display: inline;
    list-style-type: none;
    padding: 8px;
    position: relative;
    top: 13px;
    font-weight: 700;
    margin-right: 30px;
    cursor: pointer;
}
li{
    font-size: 20px;
}
li a{
    text-decoration: none;
    color: #000;
}

.ball2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #008080  ;
    position: relative;
    top: 6px;
    right: 10px;
    cursor: pointer;
    margin-top: 0%;
}
.ball2 svg{
    height: 30px;
    margin-top: 11%;
    color: #fff;
    /* font-size: 57px; */
    width: 30px;
    margin-left: 3%;
}

.section{
    display:flex;
    width: 900px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 2%;
}

.section input{
    width: 400px;
    border: none;
    outline: none;
    margin-left: 20px;
    border-right: 1px solid grey;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #6D6D6D;

}
.section select{
    width: 215px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #6D6D6D;
    border-top: none;
    border-bottom: none;
}



.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
    margin: 10px;
    padding-bottom: 35px;
}
.card{
 width: 270px;
 height: 305px;
 background: url(../img/photo_2022-01-21_18-01-40.jpg);
 background-size: 114%, 100%;
 border-radius: 19px;
 margin: 27px;
}
.btn1{
position: relative;
display: inline-block;
width: 113px;
height: 31px;
color: rgba(0, 26, 255, 0.56);
font-weight: bold;
text-decoration: none;
left: 10px;
top: 263px;
background: rgba(255, 255, 255, 0.42);
border-radius: 5px;
font-size: 18px;
border: none;
}
.btn2{
    border: none;
 position: relative;
 width: 113px;
 height: 31px;
 color: #FFFF;
 font-weight: bold;
 left: 27px;
 top: 263px;
 background: rgba(0, 0, 0, 0.42);
 border-radius: 5px;
 font-size: 18px;
}
.list{
position: relative;
width: 242px;
height: 38px;
left: 120px;
top: 80px;
background: rgba(255, 255, 255, 0.72);
border-radius: 9px;
transform: rotate(89.93deg);
}

.message {
    width: 44px;
    height: 27px;
    position: relative;
    right: -3px;
    left: 4px;
    top: 2px;
    transform: rotate(-90deg);
    cursor: pointer;
}
.phone {
    width: 30px;
    height: 22px;
    position: relative;
    right: 0px;
    left: 4px;
    top: 0px;
    transform: rotate(-90deg);
    cursor: pointer;
}
.instagram {
    width: 47px;
    height: 28px;
    position: relative;
    right: 0px;
    left: 5px;
    top: 2px;
    transform: rotate(-90deg);
    cursor: pointer;
}

.telegram {
    width: 46px;
    height: 31px;
    position: relative;
    right: -3px;
    left: 4px;
    top: 3px;
    transform: rotate(-90deg);
    cursor: pointer;
}
.facebook {
    width: 46px;
    height: 31px;
    position: relative;
    right: -3px;
    left: 4px;
    top: 3px;
    transform: rotate(-90deg);
    cursor: pointer;
}
.info{
    position: relative;
    width: 124px;
    left: 75px;
    top: 240px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #008080;
}